<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.qfy"/>
    <!--配置视图解析器，能帮我们拼接页面-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--默认前端控制器拦截所有资源（除了jsp）-->
    <!--告诉SpringMVC，自己映射的请求自己处理，不能处理的请求给tomcat处理-->
    <mvc:default-servlet-handler/>
    <!--加了上面的之后，静态资源能访问，动态的映射请求不行了，需要加注解驱动-->


    <!--配置自定义视图解析器-->
    <bean class="com.qfy.springmvc.view.MyViewResolver">
        <property name="order" value="1"></property>
    </bean>
    <!--让SpringMVC管理国际化资源文件-->
    <bean class="org.springframework.context.support.ResourceBundleMessageSource" id="messageSource">
        <!--basename：指定国际化文件的基础名-->
        <property name="basename" value="i18n"></property>
    </bean>
    <!--发送一个请求("toLoginPage")来到WEB-INF下的login页面,MVC名称空间下有一个请求映射标签-->
    <!--path="":指定哪个请求;view-name:指定映射哪个视图-->
    <!--映射完以后,映射的好用,其他的都不好用了-->
    <mvc:view-controller path="/toLoginPage" view-name="login"/>
    <!--开启mvc注解驱动模式-->
    <mvc:annotation-driven/>
    <!--配置文件上传解析器,id必须为multipartResolver-->
    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver" id="multipartResolver">
        <property name="maxUploadSize" value="#{1024*1024*20}"/><!--设置最大文件大小-->
        <property name="defaultEncoding" value="utf-8"/><!--设置默认编码-->
    </bean>
    <!--配置拦截器-->
    <mvc:interceptors>
        <!--配置某个拦截器,如下写默认拦截所有请求-->
        <bean class="com.qfy.springmvc_interceptor.MyFirstInterceptor"/>
        <!--如下写可以配置某个拦截器更详细的信息-->
        <mvc:interceptor>
            <mvc:mapping path="/test01"/>
            <bean class="com.qfy.springmvc_interceptor.MySecondInterceptor"/>
        </mvc:interceptor>
        <!--多个拦截器，已放行的拦截器的afterCompletion总会执行-->
    </mvc:interceptors>

    <!--配置自定义区域信息解析器-->
    <bean class="com.qfy.springmvc_locale.MyLocaleResolver" id="localeResolver"/>
</beans>